<script src="https://cdn.tailwindcss.com"></script>
<div class="flex flex-col justify-between min-h-screen bg-white">
  <main>
    <!-- Hero section -->
    <div class="overflow-hidden pt-8 sm:pt-12 lg:relative lg:py-48">
      <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-2 lg:gap-24 lg:px-8">
        <div>
          <div>
            <img class="h-11 w-auto" src="/logo.png" alt="Avo">
          </div>
          <div class="mt-20">
            <div class="flex flex-col">
              <a href="/avo" class="inline-flex space-x-4">
                <span class="rounded bg-blue-50 px-2.5 py-1 text-sm font-semibold text-blue-500">Demo</span>
                <span class="inline-flex items-center space-x-1 text-sm font-medium text-blue-500">
                  <span>Check out the demo</span>
                  <!-- Heroicon name: mini/chevron-right -->
                  <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                  </svg>
                </span>
              </a>
              <a href="https://github.com/avo-showcase/basic-authentication" class="inline-flex space-x-4 mt-2">
                <span class="rounded bg-blue-50 px-2.5 py-1 text-sm font-semibold text-blue-500">Repo</span>
                <span class="inline-flex items-center space-x-1 text-sm font-medium text-blue-500">
                  <span>Get the code</span>
                  <!-- Heroicon name: mini/chevron-right -->
                  <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                  </svg>
                </span>
              </a>
            </div>
            <div class="mt-6 sm:max-w-xl">
              <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">Avo - Basic authentication</h1>
              <p class="mt-6 text-xl text-gray-500">This is the a demo app showing how you'd use basic authentication with Avo</p>
            </div>

          </div>
        </div>
      </div>

      <div class="sm:mx-auto sm:max-w-3xl sm:px-6">
        <div class="py-12 sm:relative sm:mt-12 sm:py-16 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
          <div class="hidden sm:block">
            <div class="absolute inset-y-0 left-1/2 w-screen rounded-l-3xl bg-gray-50 lg:left-80 lg:right-0 lg:w-full"></div>
            <svg class="absolute top-8 right-1/2 -mr-3 lg:left-0 lg:m-0" width="404" height="392" fill="none" viewBox="0 0 404 392">
              <defs>
                <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                  <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                </pattern>
              </defs>
              <rect width="404" height="392" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)" />
            </svg>
          </div>
          <div class="relative -mr-40 pl-4 sm:mx-auto sm:max-w-3xl sm:px-0 lg:h-full lg:max-w-none lg:pl-12">
            <img class="w-full rounded-md shadow-xl ring-1 ring-black ring-opacity-5 lg:h-full lg:w-auto lg:max-w-none" src="/shot.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- Footer section -->
  <footer class="mt-24 bg-gray-900 sm:mt-12">
    <div class="mx-auto max-w-md overflow-hidden py-12 px-4 sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
      <nav class="-mx-5 -my-2 flex flex-wrap justify-center" aria-label="Footer">
        <div class="px-5 py-2">
          <a href="https://avohq.io" class="text-base text-gray-400 hover:text-gray-300">Avo HQ</a>
        </div>

        <div class="px-5 py-2">
          <a href="https://avohq.io" class="text-base text-gray-400 hover:text-gray-300">Blog</a>
        </div>

        <div class="px-5 py-2">
          <a href="https://avohq.io/rails-admin" class="text-base text-gray-400 hover:text-gray-300">Ruby on Rails admin panel</a>
        </div>

        <div class="px-5 py-2">
          <a href="https://twitter.com/avo_hq" class="text-base text-gray-400 hover:text-gray-300">Twitter</a>
        </div>

        <div class="px-5 py-2">
          <a href="https://avohq.io/roadmap" class="text-base text-gray-400 hover:text-gray-300">Roadmap</a>
        </div>

        <div class="px-5 py-2">
          <a href="https://avohq.io/testimonials" class="text-base text-gray-400 hover:text-gray-300">Testimonials</a>
        </div>
      </nav>
      <p class="mt-8 text-center text-base text-gray-400">&copy; <%= Date.today.year %> Avo. All rights reserved.</p>
    </div>
  </footer>
</div>
